Import Dependencies

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import norm

Data Loading

In [2]:
# Load the trade log data from the CSV file
trade_data = pd.read_csv('E:/Stock Trade Analyzer/data/trade_log.csv')

Data Exploration

In [3]:
trade_data.head()

,Unnamed: 0,Ticker,Entry Time,Entry Price,Exit Time,Exit Price
0,1,BANKNIFTY09JUL2022800PE,08-07-2020 09:29,163.50,08-07-2020 13:15,301.00
1,2,BANKNIFTY09JUL2022700CE,09-07-2020 09:29,162.50,09-07-2020 10:34,166.75
2,3,BANKNIFTY09JUL2022700PE,09-07-2020 09:29,110.55,09-07-2020 10:34,147.00
3,4,BANKNIFTY16JUL2022700CE,10-07-2020 09:29,295.10,10-07-2020 15:24,437.55
4,5,BANKNIFTY16JUL2022700PE,10-07-2020 09:29,555.20,10-07-2020 15:24,403.15

In [4]:
trade_data.tail()

,Unnamed: 0,Ticker,Entry Time,Entry Price,Exit Time,Exit Price
244,245,BANKNIFTY31DEC2031300PE,29-12-2020 09:29,216.65,29-12-2020 13:10,274.60
245,246,BANKNIFTY31DEC2031200CE,30-12-2020 09:29,248.25,30-12-2020 10:24,283.90
246,247,BANKNIFTY31DEC2031200PE,30-12-2020 09:29,221.70,30-12-2020 10:24,240.10
247,248,BANKNIFTY31DEC2031300CE,31-12-2020 09:29,161.80,31-12-2020 10:37,173.85
248,249,BANKNIFTY31DEC2031300PE,31-12-2020 09:29,105.05,31-12-2020 10:37,124.00

In [5]:
trade_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   249 non-null    int64
 1   Ticker       249 non-null    object
 2   Entry Time   249 non-null    object
 3   Entry Price  249 non-null    float64
 4   Exit Time    249 non-null    object
 5   Exit Price   249 non-null    float64
dtypes: float64(2), int64(1), object(3)
memory usage: 11.8+ KB

In [6]:
trade_data.describe()

       Unnamed: 0  Entry Price  Exit Price
count  249.000000   249.000000  249.000000
mean   125.000000   290.172088  296.237952
std     72.024301   156.365324  111.674469
min      1.000000    43.250000   87.150000
25%     63.000000   172.050000  198.300000
50%    125.000000   262.500000  305.800000
75%    187.000000   356.650000  377.000000
max    249.000000   857.550000  582.800000

In [7]:
trade_data.dtypes

Unnamed: 0       int64
Ticker          object
Entry Time      object
Entry Price    float64
Exit Time       object
Exit Price     float64
dtype: object

In [8]:
trade_data.shape

(249, 6)

In [9]:
# Checking null values
trade_data.isnull().sum().max()

0

 Parameter Calculation

In [10]:
# Define initial portfolio value and risk-free interest rate
initial_portfolio_value = 6500
risk_free_rate = 0.05

In [11]:
# Calculate trade results and add them to the DataFrame
trade_data['Trade_Result'] = trade_data['Exit Price'] - trade_data['Entry Price']

In [12]:
# Calculate the parameters
total_trades = len(trade_data)
profitable_trades = len(trade_data[trade_data['Trade_Result'] > 0])
loss_making_trades = len(trade_data[trade_data['Trade_Result'] < 0])
win_rate = profitable_trades / total_trades

profitable_trades_data = trade_data[trade_data['Trade_Result'] > 0]
loss_making_trades_data = trade_data[trade_data['Trade_Result'] < 0]

average_profit_per_trade = profitable_trades_data['Trade_Result'].mean()
average_loss_per_trade = loss_making_trades_data['Trade_Result'].mean()
risk_reward_ratio = abs(average_profit_per_trade) / abs(average_loss_per_trade)
loss_rate = 1 - win_rate
expectancy = (win_rate * average_profit_per_trade) - (loss_rate * average_loss_per_trade)

In [13]:
# Calculate daily returns
trade_data['Daily_Return'] = trade_data['Trade_Result'] / initial_portfolio_value

In [14]:
# Calculate CAGR (Compound Annual Growth Rate)
ending_portfolio_value = initial_portfolio_value + trade_data['Trade_Result'].sum()
number_of_trading_days = len(trade_data)
# Assuming 252 trading days in a year
cagr = (ending_portfolio_value / initial_portfolio_value) ** (252 / number_of_trading_days) - 1

In [15]:
# Calculate daily returns and standard deviation
daily_rf_rate = (1 + risk_free_rate) ** (1 / 252) - 1
daily_volatility = trade_data['Daily_Return'].std()

In [16]:
# Calculate Sharpe Ratio
sharpe_ratio = (cagr - daily_rf_rate) / daily_volatility

In [17]:
# Calculate Max Drawdown
cumulative_returns = trade_data['Daily_Return'].cumsum()
cumulative_max = cumulative_returns.cummax()
drawdown = cumulative_max - cumulative_returns
max_drawdown = drawdown.max()
max_drawdown_percentage = (max_drawdown / cumulative_max.max()) * 100

In [18]:
# Calculate Calmar Ratio
calmar_ratio = cagr / max_drawdown

In [19]:
# Create a DataFrame for the results
results = pd.DataFrame({
    'Total Trades': [total_trades],
    'Profitable Trades': [profitable_trades],
    'Loss-Making Trades': [loss_making_trades],
    'Win Rate': [win_rate],
    'Average Profit per Trade': [average_profit_per_trade],
    'Average Loss per Trade': [average_loss_per_trade],
    'Risk Reward Ratio': [risk_reward_ratio],
    'Expectancy': [expectancy],
    'Average ROR per Trade': [cagr],
    'Sharpe Ratio': [sharpe_ratio],
    'Max Drawdown': [max_drawdown],
    'Max Drawdown Percentage': [max_drawdown_percentage],
    'CAGR': [cagr],
    'Calmar Ratio': [calmar_ratio]
})

In [20]:
# Print the calculated results
for key, value in results.items():
    print(f"{key}: {value}")

Total Trades: 0    249
Name: Total Trades, dtype: int64
Profitable Trades: 0    153
Name: Profitable Trades, dtype: int64
Loss-Making Trades: 0    96
Name: Loss-Making Trades, dtype: int64
Win Rate: 0    0.614458
Name: Win Rate, dtype: float64
Average Profit per Trade: 0    76.095425
Name: Average Profit per Trade, dtype: float64
Average Loss per Trade: 0   -105.54375
Name: Average Loss per Trade, dtype: float64
Risk Reward Ratio: 0    0.720985
Name: Risk Reward Ratio, dtype: float64
Expectancy: 0    87.448996
Name: Expectancy, dtype: float64
Average ROR per Trade: 0    0.235475
Name: Average ROR per Trade, dtype: float64
Sharpe Ratio: 0    13.526337
Name: Sharpe Ratio, dtype: float64
Max Drawdown: 0    0.084931
Name: Max Drawdown, dtype: float64
Max Drawdown Percentage: 0    36.549921
Name: Max Drawdown Percentage, dtype: float64
CAGR: 0    0.235475
Name: CAGR, dtype: float64
Calmar Ratio: 0    2.772557
Name: Calmar Ratio, dtype: float64

 Converting Results in CSV Format file

In [21]:
# Create a DataFrame for the results
results = pd.DataFrame(results, index=[0])

# Save the results to a CSV file
results.to_csv('trade_results.csv', index=False)